<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{title}}

        <div class="message" v-if='message'>
            <p>{{message}}</p>
        </div>
        <div class="new-note">
            <input type="text" v-model="note.title">
            <textarea  v-model='note.description'></textarea>
            <button @click="addNote">note</button>
        </div>
        <div class="notes">
            <div v-for="(note,index) in notes" :key="index">
                <div class="note-header">
                <p>{{note.title}}</p>
                </div>
                <div class="note-body">
                    <p>{{note.description}}</p>
                    <span>{{note.date}}</span>
            
                </div>
                <hr>
            </div>
        </div>
        
    </div>
</body>
<script>
    var app= new Vue({
        el:'#app',
        data:{
            title:"hi",
            note:{
                title:'',
                description:'',
                message:null
            },
            notes:[
                {
                    title:"first",
                    description:"loremAliquip quis adipisicing magna laboris.",
                    date:new Date(Date.now()).toLocaleString(),
                },
                {
                    title:"second",
                    description:"Cupidatat ex anim ea anim. Ipsum laboris amet ad nisi irure occaecat consequat occaecat mollit magna sit. Consequat deserunt officia et dolore cillum ipsum dolor incididunt laborum laboris. Excepteur magna mollit irure anim est irure dolore consequat irure officia reprehenderit. Exercitation id labore minim do in.",
                    date:new Date(Date.now()).toLocaleString(),
                },
                {
                    title:"third",
                    description:"Irure velit et aute minim ad eiusmod nulla officia deserunt dolore aliqua ut cupidatat. Magna minim duis minim consectetur officia laborum eu aliqua consectetur quis consequat. Elit voluptate amet ullamco consequat culpa Lorem deserunt magna excepteur fugiat. Amet ipsum est deserunt est sit mollit deserunt.",
                    date:new Date(Date.now()).toLocaleString(),
                }
            ]
        },
        methods:{
            addNote(){
                let {title,description} = this.note;
                if(title === '') {
                    this.message="message can't blanck";
                    alert("message can't blanck");
                    return false;
                }
                else{
                    this.message =''
                }
                this.notes.push({
                    title,
                    description,
                    date:new Date(Date.now()).toLocaleString(),
                })
                this.note.title = '';
                this.note.description = '';

            }
        }
        

    })
</script>
</html>